<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="postingStatus" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <ng-form name="postingStatus" ng-submit="submitForm()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">OK</span></button>
                    <h4 class="modal-title" ng-bind="title"></h4>
                </div>
                <div class="modal-body">

                    <div class="widget">
                        <div class="widget-body">

                            <p>View Posting status here</p>



                        </div>
                    </div>

                </div>

                <div class="modal-footer clearfix">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-sm" type="button" data-dismiss="modal">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>


            </ng-form>
        </div>
    </div>
</div>
