<div>
    <ng-form>
        <div class="form-group">
            <message></message>
        </div>

        <div ng-class="" class="form-group">
            <label class="col-sm-5 control-label">Reference Code</label>
            <div class="col-sm-7">

                <input type="text" id="ms2RefCode" class="k-input k-textbox k-fill" ng-model="MS2.MS2Code" name="MS2Code" maxlength="100" required />
                <div ng-show="" class="ng-hide">
                    <p ng-show="" class="help-block ng-hide">

                    </p>
                </div>
            </div>

        </div>
        <div ng-class="" class="form-group">
            <label class="col-sm-5 control-label">&nbsp;</label>
            <div class="col-sm-7">

                <button class="btn btn-success" type="button" ng-disabled="disabled.Mis2button" ng-click="SaveMs2()">Save</button>
            </div>

        </div>
    </ng-form>
</div>