<div>
    <message ng-model="payAlertMessage" ng-hide ="true"></message>

    <ng-form name="frmPreOrderVoucher">

        <div>
            
            <ng-form name="frmPreOrderVoucher">

               <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-hide="true" ng-model="POVD.BatchId" />

                <div class="form-group">
                    <label class="col-sm-5 control-label">Pre Order Voucher Serial Number</label>
                    <div class="col-sm-7">
                        <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.PreOrderVoucherSerialNumber" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-5 ">
                        <button name="btnVerify" class="btn btn-success" type="button" ng-click="btnVerifyClickPOVD()">Verify</button>
                    </div>
                </div>

                <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.StatusId" ng-disabled="true" ng-hide="true" />

                <div class="form-group">
                    <label class="col-sm-5 control-label">Status</label>
                    <div class="col-sm-7">
                        <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.Status" ng-disabled="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Value</label>
                    <div class="col-sm-7">
                        <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.Value" ng-disabled="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Dealer Name</label>
                    <div class="col-sm-7">
                        <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.DealerName" ng-disabled="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Expairy Date</label>
                    <div class="col-sm-7">
                        <input type="text" name="VoucherValue" class="k-input k-textbox k-fill" ng-model="POVD.ExpairyDate" ng-disabled="true" />
                    </div>
                </div>

                <!--<div>
                    <label class="checkbox" permission-code="'29001'">
                        <input type="checkbox" ng-model="Cheque.ChForcefulRealization" ng-change="chequeForceRealization()" />Forceful Realization
                    </label>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : (hasError(frmPayCheque.ChequeNo1) || hasError(frmPayCheque.ChequeNo2) || hasError(frmPayCheque.ChequeNo3))}">
                    <label class="col-sm-4 control-label">Cheque Number</label>
                    <div class="col-sm-8">
                        <div class="input-group input-group-lg">
                            <input type="text" name="ChequeNo3" class="k-input k-textbox k-fill" ng-model="Cheque.ChNo3" ng-blur="chequeReslove()" required tooltip title="Cheque Number" maxlength="6" />
                            <span class="input-group-btn"></span>
                            <input type="text" name="ChequeNo1" class="k-input k-textbox k-fill" ng-model="Cheque.ChNo1" ng-blur="chequeReslove()" required tooltip title="Bank" maxlength="6" />
                            <span class="input-group-btn"></span>
                            <input type="text" name="ChequeNo2" class="k-input k-textbox k-fill" ng-model="Cheque.ChNo2" ng-blur="chequeReslove()" required tooltip title="Branch" maxlength="6" />


                        </div>
                        <p ng-show="(hasError(frmPayCheque.ChequeNo1, ErrorTypes.Required) || hasError(frmPayCheque.ChequeNo2, ErrorTypes.Required) || hasError(frmPayCheque.ChequeNo3, ErrorTypes.Required))" class="help-block">Cheque No is required</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : hasError(frmPayCheque.ChDate)}">
                    <label class="col-sm-4 control-label">Cheque Date</label>
                    <div class="col-sm-8">
                        <input type="text" name="ChDate" id="ChDate" ng-model="Cheque.ChDate" ng-readonly="true" required />
                        <p ng-show="hasError(frmPayCheque.ChDate, ErrorTypes.Required)" class="help-block">Cheque date is required</p>
                    </div>
                </div>

                <div class="form-group" ng-show="Cheque.ChIsOtherBank == false">
                    <label class="col-sm-4 control-label">Bank</label>
                    <div class="col-sm-8">
                        <input type="text" class="k-input k-textbox k-fill" ng-model="Cheque.ChBank" ng-readonly="true" />
                    </div>
                </div>

                <div class="form-group" ng-show="Cheque.ChIsOtherBank == true" ng-class="{ 'has-error' : (Cheque.ChIsOtherBank == true && hasError(frmPayCheque.ChOtherBank))}">
                    <label class="col-sm-4 control-label">Other bank</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="Cheque.ChIsOtherBank" ng-disabled="true" ng-hide="true" />
                            </span>
                            <input type="text" name="ChOtherBank" class="k-input k-textbox k-fill" ng-model="Cheque.ChOtherBank" ng-required="Cheque.ChIsOtherBank" />
                        </div>
                        <p ng-show="(Cheque.ChIsOtherBank == true && hasError(frmPayCheque.ChOtherBank, ErrorTypes.Required))" class="help-block">Other bank is required</p>
                    </div>
                </div>

                <div class="form-group" ng-show="Cheque.ChIsOtherBranch == false">
                    <label class="col-sm-4 control-label">Branch</label>
                    <div class="col-sm-8">
                        <input type="text" class="k-input k-textbox k-fill" ng-model="Cheque.ChBranch" ng-readonly="true" />
                    </div>
                </div>

                <div class="form-group" ng-show="Cheque.ChIsOtherBranch == true" ng-class="{ 'has-error' : (Cheque.ChIsOtherBranch == true && hasError(frmPayCheque.ChOtherBranch))}">
                    <label class="col-sm-4 control-label">Other Branch</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="Cheque.ChIsOtherBranch" ng-disabled="true" ng-hide="true" />
                            </span>
                            <input type="text" name="ChOtherBranch" class="k-input k-textbox k-fill" ng-model="Cheque.ChOtherBranch" ng-required="Cheque.ChIsOtherBranch" />
                        </div>
                        <p ng-show="(Cheque.ChIsOtherBranch == true && hasError(frmPayCheque.ChOtherBranch, ErrorTypes.Required))" class="help-block">Other branch is required</p>
                    </div>
                </div>

                <div class="form-group" ng-class="">
                    <label class="col-sm-4 control-label">Realized Status</label>
                    <div class="col-sm-8">
                        <input type="text" class="k-input k-textbox k-fill" ng-model="Cheque.ChRealizedStatus" ng-disabled="true" />
                        <p ng-show="" class="help-block">... </p>
                    </div>
                </div>

                <div class="form-group" ng-class="">
                    <label class="col-sm-4 control-label">Realized Date & Time</label>
                    <div class="col-sm-8">
                        <input type="text" class="k-input k-textbox k-fill" ng-model="Cheque.ChRealizedDate" ng-disabled="true" />
                        <p ng-show="" class="help-block">... </p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : hasError(frmPayCheque.ChRemarks)}">
                    <label class="col-sm-4 control-label">Remarks</label>
                    <div class="col-sm-8">
                        <input type="text" name="ChRemarks" class="k-input k-textbox k-fill" ng-model="Cheque.ChRemarks" ng-maxlength="250" />
                        <p ng-show="hasError(frmPayCheque.ChRemarks, ErrorTypes.Maxlength)" class="help-block">Length of remakrs should be less than 250</p>
                    </div>
                </div>

                <div class="form-group" ng-class="">
                    <label class="col-sm-4 control-label">Updated By</label>
                    <div class="col-sm-8">
                        <input type="text" class="k-input k-textbox k-fill" ng-model="Cheque.ChUpdatedBy" ng-readonly="true" />
                    </div>
                </div>-->

                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-5 ">
                        <button name="btnVerifyClick" class="btn btn-success" ng-click="btnUpdateClickPOVD(frmPreOrderVoucher)">Update</button>
                    </div>
                </div>
            </ng-form>
        </div>
    </ng-form>
</div>
