<h1 ng-bind="Title()"></h1>

<div class="container" >
    <form class="form-horizontal" name="ChangePasswordForm" ng-submit="ChangePasswordSubmit(ChangePasswordForm.$valid)" novalidate>
        
        <message ng-model="alertMessage"></message>

        <div class="row" ng-hide="user.validateUsr">
            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-body" ng-hide="user.validateUsr">
                        <fieldset>

                            <div class="form-group" ng-class="{ 'has-error' : hasError(ChangePasswordForm.OldPassword)}">
                                <label class="col-sm-5 control-label">Old Password</label>
                                <div class="col-sm-7">
                                    <input type="password" name="OldPassword" class="k-input k-textbox k-fill " ng-model="user.OldPassword" maxlength="30" required>
                                    <div ng-show="hasError(ChangePasswordForm.OldPassword)">
                                        <p class="help-block" ng-show="hasError(ChangePasswordForm.OldPassword, ErrorTypes.Required)">Old password is required.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : hasError(ChangePasswordForm.NewPassword) || (user.NewPassword==user.OldPassword && !ChangePasswordForm.NewPassword.$pristine && user.NewPassword!=null)}">
                                <label class="col-sm-5 control-label">New Password </label>
                                <div class="col-sm-7">
                                    <input type="password" name="NewPassword" class="k-input k-textbox k-fill " ng-model="user.NewPassword" maxlength="30" required>
                                    <div ng-show="hasError(ChangePasswordForm.NewPassword)">
                                        <p class="help-block" ng-show="hasError(ChangePasswordForm.NewPassword, ErrorTypes.Required)">New password is required.</p>
                                    </div>
                                    <p class="help-block" ng-show="user.NewPassword==user.OldPassword && !ChangePasswordForm.NewPassword.$pristine && user.NewPassword!=null">New password cannot be similar to the old password</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : hasError(ChangePasswordForm.ReTypeNewPassword)}">
                                <label class="col-sm-5 control-label">Retype New Password</label>
                                <div class="col-sm-7">
                                    <input type="password" name="ReTypeNewPassword" class="k-input k-textbox k-fill " ng-model="user.ReTypeNewPassword" maxlength="30" required>
                                    <div ng-show="hasError(ChangePasswordForm.ReTypeNewPassword)">
                                        <p class="help-block" ng-show="hasError(ChangePasswordForm.ReTypeNewPassword, ErrorTypes.Required)">Please retype new password.</p>

                                    </div>
                                    <div class="text-danger" ng-show="user.NewPassword!=user.ReTypeNewPassword && ChangePasswordForm.ReTypeNewPassword.$pristine == false">Passwords does not match.</div>

                                </div>

                            </div>



                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="user.validateUsr">
            <button class="btn btn-primary" type="submit" ng-disabled="!ChangePasswordForm.$valid || (user.ReTypeNewPassword!=user.NewPassword) || (user.OldPassword==user.NewPassword)">Save</button>
            <button class="btn btn-default" type="button" ng-click="ChangePasswordReset(user)">Reset</button>
        </div>

    </form>
    
</div>