<h1>Reset Password</h1>
<div class="container" ng-app="validationApp">
    <form name="resetPasswordForm" class="form-horizontal" ng-submit="resetPasswordSubmit(resetPasswordForm.$valid)" novalidate>
        <message ng-model="alertMessage"></message>
        <div class="row" ng-hide="user.validateUsr">
            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-body">
                        <fieldset>

                            <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.userId.$invalid && !resetPasswordForm.userId.$pristine }">
                                <label class="col-sm-4 control-label">User ID</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" name="userId" class="k-input k-textbox k-fill" ng-blur="loadUserNameByUserId()" ng-model="field.userId" required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="loadUserNameByUserId()" type="button" data-toggle="modal" data-target="#modalUserId" tooltip title="{{label.search}}"><i class="icon icon_search"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="resetPasswordForm.userId.$invalid && !resetPasswordForm.userId.$pristine" class="help-block">User ID is required.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.UserFullName.$invalid && !resetPasswordForm.UserFullName.$pristine }">
                                <label class="col-sm-4 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" name="UserFullName" class="k-input k-textbox k-fill" ng-model="field.UserFullName" ng-disabled="true" required>
                                    <p ng-show="resetPasswordForm.UserFullName.$invalid && !resetPasswordForm.UserFullName.$pristine" class="help-block">User name is required.</p>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine }">
                                <label class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="k-input k-textbox k-fill" name="email" ng-disabled="true" ng-model="field.email" required>
                                    <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" class="help-block">Not a valid email!.</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">

                                    <label class="radio-inline">
                                        <input type="radio" name="passwordgeneratetype" ng-model="field.passwordgeneratetype" value="SystemPassword" />
                                        System Password (Email to user)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="passwordgeneratetype" ng-model="field.passwordgeneratetype" value="ManualPassword" />
                                        Manual Password
                                    </label>

                                    <!--<div class="radio">
                                    <label><input type="radio" name="passwordgeneratetype" ng-checked="true" ng-model="field.passwordgeneratetype" value="SystemPassword" selected> System Password (Email to user)</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="passwordgeneratetype" ng-model="field.passwordgeneratetype" value="ManualPassword"> Manual Password</label>
                                </div>-->
                                </div>
                            </div>

                            <fieldset ng-disabled="{'SystemPassword':true, 'ManualPassword':false}[field.passwordgeneratetype]">

                                <div class="form-group margin-bottom-0" ng-class="{ 'has-error' : resetPasswordForm.Password.$invalid && !resetPasswordForm.Password.$pristine }">
                                    <label class="col-sm-4 control-label">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="k-input k-textbox k-fill" name="Password" ng-model="field.Password">
                                        <p ng-show="resetPasswordForm.Password.$error.required  && !resetPasswordForm.Password.$pristine" class="help-block">Password is required.</p>
                                    </div>
                                </div>

                            </fieldset>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="user.validateUsr">
            <button class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid" type="submit">Save</button>
            <button class="btn btn-default" type="button" ng-click="ResetPasswordReset(field)">Reset</button>
        </div>
    </form>
</div>

