html, body {
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}

[data-ng-cloak], [ng-cloak]{
    display:none;
}

[data-ng-view], [ng-view] {
    margin-bottom: 60px;
}

body > .k-widget {
    height:100%;
}

nav, main, main > div, .row,  div[class*="col-"], .control-label {
    box-sizing:border-box;
}

main > div {
    padding:0 10px;
}

main {
    background-color:#eee;
}

main div[ng-view]{
        padding-bottom:50px;
}

aside {
    background:url(../Images/body-bg.jpg) no-repeat center;
    background-size:cover;
    overflow:hidden;
}

.k-fill {
    width:100%;
}

fieldset {
    margin:0 -15px;
}

label {
    font-weight:normal;
}

.input-group-btn .btn {
    padding-top:5px;
    padding-bottom:4px;
    padding-left: 8px;
    padding-right: 8px;
}

h1{
    font-size:18px;
    font-weight:300!important;
    padding-left:10px;
    color:#b12848;
}


/*NG PROGRESS*/
/* Styling for the ngProgress itself */
#loading {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#loading-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/*common fix*/
.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis a {
    text-decoration: none!important;
    cursor: pointer;
}

/*Bootstrap Overright*/
.modal-sm {
    width:350px;
}
.modal-body {
    background-color:#eeeeee;
}
.modal-header {
    padding:8px 15px;
}
.modal-footer {
    padding:10px 20px;
    margin-top:0;
}
.modal-fill .modal-dialog {
        width: 96%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
.modal-lg {
    width:900px;
}
.table-filter tr td {
    padding:2px 0 !important;
    border:none !important;
}

.table-filter {
    margin-bottom: 5px !important;
}
.table-serial {
    max-height: 200px;
    overflow-y: scroll;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.nav-tabs + .tab-content {
    border:1px solid #ddd;
    border-top:none;
    margin-bottom: 15px;
    padding: 15px;
}

/*FINDER MODAL BOX*/
.finder-boolean .switch {
    float:left;
    margin-right: 5px;}
.finder-boolean .badge {
    margin-top: 5px;
}
.modal-sm {

}
.bg-danger{
    background-color:#e74c3c !important;
    color:#ffffff !important;
}
.bg-highlightAqua{
    background-color:aqua !important;
    color:black !important;
}

.bold {
      font-weight: bold!important;
  }

/*Grid coloring*/
.k-grid-content table tbody .info{
    color:black;
    background-color: #B3E5FC;
}

.k-grid-content table tbody .warning{
    color:black;
    background-color: #FFE0B2;
}
.k-grid-content table tbody .danger{
    color:black;
    background-color: #FFCDD2;
}
.k-grid-content table tbody .success{
    color:black;
    background-color: #C8E6C9;
}
.k-grid-content {
    max-height: 100% !important;
    height: 100% !important;
}


/*ICON MENU*/
.menu-icon{
    margin: 4px 0 0 0;
    font-size:32px;
    line-height: 42px;
    cursor: pointer;
    color:#666;
}
.menu-icon:hover {
    color:#ee3880;
}

.k-grid-header .k-header {
    white-space : normal !important;
}