<div>
    <h4>  Demo 1 - Print to default Printer </h4>
</div>
<div>
    <br>
    <br>
    <button class="btn btn-primary" ng-click="printTable()">Print table to default Printer</button>
    <br>
    <br>
    <br>
</div>
<div ng-show="vm.printCompleted" class="alert alert-success" role="alert">
    Print Completed
</div>
<div id="systemUsers">
    <table class="table">
        <caption>System Users</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
