<h1 ng-bind="Title()"></h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-body">

                    <form class="form-horizontal" name="BatchProcessPayments" novalidate>
                        <div class="row">
                            <div class="col-md-6">

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Batch ID</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text"
                                                   class="k-input k-textbox k-fill"
                                                   readonly="readonly"
                                                   ng-model="Batch.BatchId"
                                                   name="BatchNo">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-click="finderBatchProcessPayments.open()" tooltip title=" {{label.search}}"><i class="icon icon_search"></i></button>
                                                <button class="btn btn-default" type="button" ng-click="changePageState('NEW')" tooltip title="{{label.create}}"><i class="icon icon_plus"></i></button>
                                            </span>
                                        </div>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Payment Type</label>
                                    <div class="col-sm-7">

                                        <select kendo-drop-down-list class="k-fill"
                                                k-placeholder="'Select '"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-model="Batch.PaymentType"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="PaymentTypeCollection" ng-change="GetPaymentSourceByPaymentType();"></select>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Payment Source</label>
                                    <div class="col-sm-7">

                                        <select kendo-drop-down-list class="k-fill"
                                                k-placeholder="'Select '"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-model="Batch.PaymentSource"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="PaymentSources"></select>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Payment Method</label>
                                    <div class="col-sm-7">

                                        <select kendo-drop-down-list class="k-fill"
                                                k-placeholder="'Select '"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-model="Batch.PaymentMethod"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="PaymentMethodCollection"></select>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">BU</label>
                                    <div class="col-sm-7">

                                        <select kendo-drop-down-list class="k-fill"
                                                k-placeholder="'Select '"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-model="Batch.Sbu"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="SbuCollection"></select>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Product Category</label>
                                    <div class="col-sm-7">

                                        <select kendo-drop-down-list class="k-fill"
                                                k-placeholder="'Select '"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-model="Batch.ProdCat"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="ProductCatCollection" ng-change="GetPaymentSourceByPaymentType();"></select>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">File path</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input name="attachFile" multiple="" style="width:100%" ng-disabled="Batch.records != 0" type="file" class="btn" file-model="myFile">
                                            <span class="input-group-btn">
                                                <button data-toggle="modal" class="btn btn-success btn-sm" ng-disabled="IsAddBtnDisable || Batch.BatchId!=null " ng-click="uploadDocuments()" type="button">Add</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">No of Records</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill text-right" readonly="readonly" ng-model="Batch.records" name="records">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Total Amount</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill text-right" readonly="readonly" ng-model="Batch.totalAmount" name="totalAmount">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Reference</label>
                                    <div class="col-sm-7">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-disabled="IsAttach=='NO'" data-target="#ReferenceViewRemoveAttachments">View / Remove</button>
                                            <button type="button" class="btn btn-primary  btn-sm" data-toggle="modal" ng-disabled="disabled.Attachment || Batch.BatchId!=null" data-target="#ReferenceAddAttachments">Add</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label text-right">Remarks</label>
                                    <div class="col-sm-7">

                                        <textarea ng-model="Batch.remarks" ng-disabled="Batch.BatchId!=null" class="k-fill k-textbox"></textarea>
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-class="" class="form-group">
                                    <label class="col-sm-5 control-label">Payment Mode</label>
                                    <div class="col-sm-7">

                                        <select name=""
                                                kendo-drop-down-list
                                                k-placeholder="'Payment Mode'"
                                                k-data-text-field="'Description'"
                                                k-data-value-field="'Id'"
                                                ng-change="SetPaymentMode()"
                                                ng-disabled="Batch.BatchId!=null"
                                                k-data-source="paymentModeCollections"
                                                ng-model="Batch.PaymentMode"
                                                class="k-fill"></select>
                                        <input type="text" ng-disabled="true" class="k-input k-textbox" style="width:200px"
                                               name="ExistingReference" ng-model="Batch.ExistingReference"
                                               required>

                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="findExistingRef.open()" ng-disabled="Batch.PaymentMode=='0' || Batch.PaymentMode=='CA'" type="button">{{PaymentMode}}Exi.Ref.</button><!--Existing Reference data-toggle="modal" data-target="#modalExistingRef"-->
                                        </span>

                                        <p ng-show="" class="help-block"></p>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Status</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.statusDes" name="status">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Verified Count</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.verifiedCount" name="VerifiedCount">
                                            <span class="input-group-btn">
                                                <button data-toggle="modal" class="btn btn-success btn-sm" ng-disabled=" Batch.status!=1 " ng-click="getVerifiedCount()" type="button">Refresh</button>
                                            </span>
                                            <div ng-show="" class="ng-hide">
                                                <p ng-show="" class="help-block ng-hide">

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Uploaded Date & Time</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.uploadedDate" name="UploadedDate">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Uploaded User</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.uploadedUser" name="UploadedUser">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Saved Date & Time</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.savedDate" name="savedDate">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Saved User</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill" readonly="readonly" ng-model="Batch.savedUser" name="savedUser">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Transfer to Suspense Count</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill text-right" readonly="readonly" ng-model="Batch.transferToSuspense" name="transferToSuspense">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Transfer to Suspense Amount</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="k-input k-textbox k-fill text-right" readonly="readonly" ng-model="Batch.transferToSuspenseAmount" name="transferToSuspenseAmount">
                                        <div ng-show="" class="ng-hide">
                                            <p ng-show="" class="help-block ng-hide">

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <!--<h4>Payment Mode</h4>-->
                                    <payment-mode options="Options"></payment-mode>
                                </div>



                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <h5><b>Invalid Numbers</b></h5>

                                <div id="dgGridBatchProcess" tabindex="0"
                                     kendo-grid="dgGridBatchProcess"
                                     ng-init="InitA('dgGridBatchProcess')"
                                     k-options="dgGridBatchProcess.options()">
                                </div>

                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div>
                <button class="btn btn-success" type="button" ng-disabled="Batch.records == 0 || Batch.BatchId!=null" ng-click="PostUploadAndVerify()">Upload and Verify</button>
                <button class="btn btn-success" type="button" ng-disabled="IsVerifyBtnDisable || Batch.status != 2 || !(GridData.length > 0)" ng-click="ReVerify()">Re-Verify</button>
                <button class="btn btn-success" type="button" ng-disabled="IsGridDisable || Batch.status != 2 || !(GridData.length > 0)" ng-click="ChangeToSuspence()">Change to Suspense</button>
                <button class="btn btn-success" type="button" ng-disabled="ISaveBtnDisable || Batch.status == 3" ng-click=" saveBatchProcess()">Save</button>
                <button class="btn btn-primary" type="button" ng-disabled="Batch.status != 3" ng-click=" downloadSuspense()">Download</button>
            </div>
        </div>
    </div>
</div>

<reference options="referenceParams" callback="referenceCallback"></reference>
<finder-new id="findExistingRef"
            title="{{findExistingRef.title}}"
            params="findExistingRef.params"
            info="findExistingRef.info"
            callback="findExistingRef.callback"></finder-new>

<finder-new id="finderBatchProcessPayments"
            title="{{finderBatchProcessPayments.title}}"
            params="finderBatchProcessPayments.params"
            info="finderBatchProcessPayments.info"
            callback="finderBatchProcessPayments.callback"></finder-new>